doctype html
html
  head
    title= `${title} | Razvan Caliman`
    link(rel='stylesheet' href='build/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header

    block content
      main= content
      
    block footer

    block scripts
      script(src="build/script.js" type="module")
      script(src="build/script-es5.js" nomodule)
